	<div class="gv-interactive cpi">
	<h1 class="gu-graphic-header">Consumer prices index, % change</h1>
	<svg   class="cpi"></svg>
	<div class="gv-source">Source: ONS</div>

</div>
<div class="gv-interactive retail">

	<h1 class="gu-graphic-header">Retail sales</h1>
	<div class="gv-key">Month on month change, %, seasonally adjusted</div>
	<svg   class="retail"></svg>
	<div class="gv-source">Source: ONS</div>

</div>
<div class="gv-interactive rics">

	<h1 class="gu-graphic-header">RICS house price indicator</h1>
	<div class="gv-key">Proportion of respondents reporting a rise in prices minus those reporting a fall, %</div>
	<svg   class="rics"></svg>
	<div class="gv-source">Source: RICS</div>

</div>
<div class="gv-interactive pmi">

	<h1 class="gu-graphic-header">Activity levels</h1>
	<div class="gv-key">All sector PMI, output index. Values above 50 indicate growth, below 50, contraction</div>
	<svg   class="pmi"></svg>
	<div class="gv-source">Source: IHS Markit</div>

</div>
<div class="gv-interactive trade">

	<h1 class="gu-graphic-header">Trade balance, £bn, goods and services, seasonally adjusted</h1>
	<svg   class="trade"></svg>
	<div class="gv-source">Source: ONS</div>

</div>
<div class="gv-interactive ftse100">

	<h1 class="gu-graphic-header">FTSE100 index</h1>
	<svg   class="ftse100"></svg>
	<div class="gv-source">Source: Thomson Reuters</div>

</div>
<div class="gv-interactive ftse250">

	<h1 class="gu-graphic-header">FTSE250 index</h1>
	<svg   class="ftse250"></svg>
	<div class="gv-source">Source: Thomson Reuters</div>
</div>

<div class="gv-interactive unemployment">

	<h1 class="gu-graphic-header">Unemployment</h1>
	<div class="gv-key">Seasonally adjusted rate for age 16 and over, three months ending in month shown, %</div>
	<svg   class="unemployment"></svg>
	<div class="gv-source">Source: ONS</div>

</div>

<div class="gv-interactive wages">

	<h1 class="gu-graphic-header">Wages</h1>
	<div class="gv-key">Average earnings annual growth, three months ending in month shown, %</div>

	<svg class="wages"></svg>
	<div class="gv-source">Source: ONS</div>
</div>

<div class="gv-interactive sterling">

	<h1 class="gu-graphic-header">Sterling markets</h1>
	<div class="gv-key"><span class="gv-blob gbpeur"></span><span>Euro v £</span><span class="gv-blob gbpusd"></span><span>Dollar v £</span></div>
	<svg class="sterling"></svg>
	<div class="gv-source">Source: Thomson Reuters</div>

</div>

<div class="gv-interactive borrowing">

	<h1 class="gu-graphic-header">Government borrowing</h1>
	<div class="gv-key"><span class="gv-blob ad2015"></span><span>2015/16</span><span class="gv-blob ad2016"></span><span>2016/17</span><span class="gv-blob ad2017"></span><span>2017/18</span></div>

	<svg class="borrowing"></svg>
</div>
