<div class="gv-interactive cpi">
	<h1 class="gu-graphic-header">Consumer prices index, % change</h1>
	<svg class="cpi"></svg>
	<div class="gv-source">Source: ONS</div>

</div>
<div class="gv-interactive retail">

	<h1 class="gu-graphic-header">Retail sales</h1>
	<div class="gv-key">TK</div>
	<svg class="retail"></svg>
	<div class="gv-source">Source: ONS</div>

</div>
<div class="gv-interactive rics">

	<h1 class="gu-graphic-header">Rics house price indicator</h1>
	<div class="gv-key">Proportion of respondents reporting a rise in prices minus those reporting a fall, %</div>
	<svg class="rics"></svg>
	<div class="gv-source">Source: Rics</div>

</div>
<div class="gv-interactive pmi">

	<h1 class="gu-graphic-header">Activity levels</h1>
	<div class="gv-key">All sector PMI, output index. Values above 50 indicate growth, below 50, contraction</div>
	<div class="gv-key">
			<span class="gv-blob china"></span><span>China</span>
			<span class="gv-blob us"></span><span>US</span>
			<span class="gv-blob eurozone"></span><span>Eurozone</span>
			<span class="gv-blob uk"></span><span>UK</span>
		</div>
	<svg class="pmi"></svg>
	<div class="gv-source">Source: IHS Markit</div>

</div>
<div class="gv-interactive trade">

	<h1 class="gu-graphic-header">Trade balance, £bn, goods and services, seasonally adjusted</h1>
	<svg class="trade"></svg>
	<div class="gv-source">Source: ONS</div>

</div>
<div class="gv-interactive ftse100">

	<h1 class="gu-graphic-header">FTSE 100 index</h1>
	<svg class="ftse100"></svg>
	<div class="gv-source">Source: Refinitiv</div>

</div>
<div class="gv-interactive ftse250">

	<h1 class="gu-graphic-header">FTSE 250 index</h1>
	<svg class="ftse250"></svg>
	<div class="gv-source">Source: Refinitiv</div>
</div>

<div class="gv-interactive unemployment">

	<h1 class="gu-graphic-header">UK claimant count</h1>
	<div class="gv-key">Seasonally adjusted</div>
	<svg class="unemployment"></svg>
	<div class="gv-source">Source: ONS</div>

</div>

<div class="gv-interactive wages">

	<h1 class="gu-graphic-header">Wages</h1>
	<div class="gv-key">Average earnings annual growth, three months ending in month shown, %</div>

	<svg class="wages"></svg>
	<div class="gv-source">Source: ONS</div>
</div>

<div class="gv-interactive transport">

	<h1 class="gu-graphic-header">Transport levels</h1>
	<div class="gv-key"><span class="gv-blob gbpeur"></span><span>Rail</span><span
			class="gv-blob gbpusd"></span><span>Road</span></div>
	<svg class="transport"></svg>
	<div class="gv-source">Source: Apple</div>

</div>

<div class="gv-interactive borrowing">

	<h1 class="gu-graphic-header">Government borrowing</h1>
	<div class="gv-key">
		<span class="gv-blob ad2018"></span><span>2018-19</span>
		<span class="gv-blob ad2019"></span><span>2019-20</span>
		<span class="gv-blob ad2020"></span><span>2020-21</span>
	</div>
	<svg class="borrowing"></svg>
</div>

