	<div class="gv-interactive cpi">
	<h3>Consumer prices index, % change</h3>
	<svg   class="cpi"></svg>
</div>
<div class="gv-interactive retail">

	<h3>Retail sales, % change</h3>
	<svg   class="retail"></svg>
</div>
<div class="gv-interactive rics">

	<h3>House prices, % change</h3>
	<svg   class="rics"></svg>
</div>
<div class="gv-interactive pmi">

	<h3>PMI, % change</h3>
	<svg   class="pmi"></svg>
</div>
<div class="gv-interactive trade">

	<h3>Trade balance, % change</h3>
	<svg   class="trade"></svg>
</div>
<div class="gv-interactive ftse100">

	<h3>FTSE100</h3>
	<svg   class="ftse100"></svg>
</div>
<div class="gv-interactive ftse250">

	<h3>FTSE250</h3>
	<svg   class="ftse250"></svg>
</div>

<div class="gv-interactive unemployment">

	<h3>Unemployment</h3>
	<svg   class="unemployment"></svg>
</div>

<div class="gv-interactive wages">

	<h3>Wages</h3>
	<svg   class="wages"></svg>
</div>

<div class="gv-interactive wages">

	<h3>Sterling</h3>
	<svg class="sterling"></svg>
</div>

<div class="gv-interactive borrowing">

	<h3>Borrowing</h3>
	<svg class="borrowing"></svg>
</div>
